root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 1
tab_width = 2
ij_any_field_annotation_wrap = off
ij_any_parameter_annotation_wrap = off
