name: publish
on:
  push:
    tags:
      - 'v**'

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: setup jdk 16
        uses: actions/setup-java@v1
        with:
          distribution: 'adopt'
          java-version: '16'
      - name: build
        run: ./gradlew build
      - name: publish
        run: ./gradlew publishModrinth
        env:
          MODRINTH: ${{ secrets.MODRINTH }}
      - name: curseforge
        run: ./gradlew curseforge
        env:
          CURSEFORGE: ${{ secrets.CURSEFORGE }}
